body {  
  margin: 0;
  padding: 0;
  font-family:'Amatic SC, Aboreto, Advent Pro, Alegreya Sans';
}
  .mySlides {display: none}




  @media only screen and (min-width: 1080px) {
  p {
    font-size: 20px;
    font-family:'Amatic SC, Aboreto, Advent Pro, Alegreya Sans';
  }
  h1 {
    font-size: 40px;
    font-family:'Amatic SC, Aboreto, Advent Pro, Alegreya Sans';
  }
  }


  .text-over-image2 h1 {
    color: white;
    margin-top: 20px;
    font-size: 5.8rem;
    text-align: center;
    text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
  }

  .text-over-image2 p{
    color: white;
    font-size: 3.8rem;
    text-align: center;
    text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
  }



  .video-background {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .video-background video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
  }
  
  .scroll-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }


  .video-container {
    top: 0;
    bottom: 0;
    text-align: center;
    z-index: -2;
  }

  .video-container video {
    min-width: 10%;
    width: auto;
    height: auto;
  }



  .das-sind-wir-section {
    background-color:rgb(27, 27, 85);
    padding: 50px;
    text-align: center;
  }


  .der-kern-section {
    background-color:rgb(27, 27, 85);
    padding: 50px;
    text-align: center;
  }

  .bilder-section {
    background-color:rgb(27, 27, 85);
    padding: 50px;
    text-align: center;
  }

  .entstehung-section {
    background-color:rgb(27, 27, 85);
    padding: 50px;
    text-align: center;
  }

  .projekte-section {
    background-color:rgb(27, 27, 85);
    padding: 50px;
    text-align: center;
  }

  .pauscha-section {
    background-color:rgb(27, 27, 85);
    padding: 50px;
    text-align: center;
  }