body {  
  margin: 0;
  padding: 0;
  font-family:'Amatic SC, Aboreto, Advent Pro, Alegreya Sans';
}
  .mySlides {display: none}




  @media only screen and (min-width: 1080px) {
    p {
      font-size: 20px;
      font-family:'Amatic SC, Aboreto, Advent Pro, Alegreya Sans';
    }
    h1 {
      font-size: 40px;
      font-family:'Amatic SC, Aboreto, Advent Pro, Alegreya Sans';
    }
  }


  .title h1 {
    color: white;
    margin-top: 20px;
    font-size: 5.1vw;
    text-align: center;
    text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
  }

  .title p{
    color: white;
    font-size: 3.8vw;
    text-align: center;
    text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
  }



  .colortitle {
    color: white;
    margin-top: 20px;
    font-size: 4.6vw;
    text-align: center;
    display: inline-block;
    text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
  }

  .colorparagraph {
    color: white;
    font-size: 2.5vw;
    text-align: center;
    display: inline-block;
    text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
  }
  
  .colortext {
    color: white;
    font-size: 1.6vw;
    text-align: center;
    margin: 0 auto;
    max-width: 1400px;
    text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
  }



  .title-pic {
    background-image: url('../pics/ebenso/ebenso.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center top 23%;
    filter: hue-rotate(30deg);
    text-align: center;
  }

  .video-background {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .video-background video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
  }
  
  .video-background .scroll-content {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
  }







  .video-container {
    top: 0;
    bottom: 0;
    text-align: center;
    z-index: -2;
  }

  .video-container video {
    min-width: 10%;
    width: auto;
    height: auto;
  }



  .das-sind-wir-section {
    background-color:rgb(27, 27, 85);
    padding: 50px;
    text-align: center;
  }

  .das-sind-wir-section .text {
    color: white;
    font-size: 2.5vw;
    text-align: center;
    display: inline-block;
    text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
  }


  .der-kern-section {
    background-color:rgb(27, 27, 85);
    padding: 50px;
    text-align: center;
  }

  .bilder-section {
    background-color:rgb(27, 27, 85);
    padding: 50px;
    text-align: center;
  }

  .entstehung-section {
    background-color:rgb(255, 255, 255);
    padding: 50px;
    text-align: center;
  }


  .entstehung-section .title {
    color: black;
    margin-top: 20px;
    font-size: 3.6vw;
    text-align: center;
    display: inline-block;
    text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
  }

    
  .entstehung-section .text {
    color: black;
    font-size: 2.0vw;
    text-align: center;
    margin: 0 auto;
    max-width: 1400px;
  }


  .projekte-section {
    background-color:rgb(27, 27, 85);
    padding: 50px;
    text-align: center;
  }
  

  .pauscha-section {
    background-color:rgb(27, 27, 85);
    padding: 50px;
    text-align: center;
  }


  .keimzelle-section {
    background-color:rgba(199, 73, 196, 0.82);
    padding: 50px;
    text-align: center;
  }

  .keimzelle-section .title {
    color: white;
    margin-top: 20px;
    font-size: 2.6vw;
    text-align: center;
    display: inline-block;
    text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
  }

  .keimzelle-section .item {
    color: white;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
  }


  .hover-text {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .hover-text:hover::after {
    content: attr(data-hover-text);
    position: absolute;
    bottom: 100%;
    left: 50%;
    min-width: 400px;
    transform: translateX(-50%);
    padding: 18px;
    background-color: #0f0f0f;
    color: #fff;
    border-radius: 20px;
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
  }
  
  .hover-text:hover::after {
    opacity: 1;
  }
  