:root {
    --logoeffect: 1.5px 1.5px #b6ebfb, -1.5px -1.5px #ffb3b3;
    --transparentwhite: #ffffffaa;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row {
    padding: 20px;
}

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

@media only screen and (max-width: 600px) {
/* Mobilgeräte */

    img.portrait {
        float: none;
    }
}

/* --- Elemente --- */

a {
    text-decoration: none;
    color: #000000;
}

    a:hover {
        text-shadow: var(--logoeffect);
    }

h1 {
    display: flex;
    justify-content: center;
}

#header {
    position: sticky;
    width: 100%;
    background-color: #ffffff;
    top: 0;
    z-index: 1;
}

#header img {
    height: 60px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu li {
    float: left;
    margin: 0 0 0 20px;
}

    .menu li > ul {
        list-style: none;
        display: none;
        position: absolute;
        background-color: #ffffff;
        padding: 10px;
    }

    .menu li > ul li{
        float: none;
        padding: 5px;
        margin: 0px;
        border-bottom: 1px solid #dadada;
    }

.menu li:hover ul{
    display: block;
    
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}

#content {
/*    max-width: 980px;
    margin: 0 auto 0 auto;*/
}

#ebenso {
    height: 1000px;
    /*background-color: antiquewhite;*/
    background-image: url('../pics/ebenso/ebensokleiner.jpg');
    background-attachment: fixed;
    background-size: cover;
    filter: sepia(0.2);
    text-align: center;
}

#wir, #kern {
    height: 120px;
    background-color: #ffffff;
    text-shadow: var(--logoeffect);
}

#wirvideo {
    position: fixed;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -2;
}

.portrait {
    background-color: #ff00ff88;
    height: 250px;
    width: 340px;
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

    .portrait:hover h1 {
        display: flex;
        justify-content: center;
    }

    .portrait:hover p {
        display: flex;
        justify-content: center;
    }

    .portrait:hover {
        background-blend-mode: multiply;
    }

    .portrait h1 {
        display: none;
        width: 100%;
        color: #ffffff;
    }

    .portrait p {
        display: none;
        width: 100%;
        color: #ffffff;
    }

#footer{

}

/* --- TEST --- */


#pauscha {
    background-color: coral;
    height: 1000px;
}

#langeweile {
    background-color: darkcyan;
    height: 1000px;
}

#kontakt {
    background-color: darkgrey;
    height: 1000px;
}

p.panel {
    background-color: var(--transparentwhite);
    padding: 10px;
}

